// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ic-account-box-white-1x-name: 'ic_account_box_white_1x';
$ic-account-box-white-1x-x: 0px;
$ic-account-box-white-1x-y: 53px;
$ic-account-box-white-1x-offset-x: 0px;
$ic-account-box-white-1x-offset-y: -53px;
$ic-account-box-white-1x-width: 24px;
$ic-account-box-white-1x-height: 24px;
$ic-account-box-white-1x-total-width: 101px;
$ic-account-box-white-1x-total-height: 77px;
$ic-account-box-white-1x-image: 'sprite_1.png';
$ic-account-box-white-1x: (0px, 53px, 0px, -53px, 24px, 24px, 101px, 77px, 'sprite_1.png', 'ic_account_box_white_1x', );
$ic-account-box-white-2x-name: 'ic_account_box_white_2x';
$ic-account-box-white-2x-x: 0px;
$ic-account-box-white-2x-y: 0px;
$ic-account-box-white-2x-offset-x: 0px;
$ic-account-box-white-2x-offset-y: 0px;
$ic-account-box-white-2x-width: 48px;
$ic-account-box-white-2x-height: 48px;
$ic-account-box-white-2x-total-width: 101px;
$ic-account-box-white-2x-total-height: 77px;
$ic-account-box-white-2x-image: 'sprite_1.png';
$ic-account-box-white-2x: (0px, 0px, 0px, 0px, 48px, 48px, 101px, 77px, 'sprite_1.png', 'ic_account_box_white_2x', );
$ic-call-white-1x-name: 'ic_call_white_1x';
$ic-call-white-1x-x: 29px;
$ic-call-white-1x-y: 53px;
$ic-call-white-1x-offset-x: -29px;
$ic-call-white-1x-offset-y: -53px;
$ic-call-white-1x-width: 24px;
$ic-call-white-1x-height: 24px;
$ic-call-white-1x-total-width: 101px;
$ic-call-white-1x-total-height: 77px;
$ic-call-white-1x-image: 'sprite_1.png';
$ic-call-white-1x: (29px, 53px, -29px, -53px, 24px, 24px, 101px, 77px, 'sprite_1.png', 'ic_call_white_1x', );
$ic-call-white-2x-name: 'ic_call_white_2x';
$ic-call-white-2x-x: 53px;
$ic-call-white-2x-y: 0px;
$ic-call-white-2x-offset-x: -53px;
$ic-call-white-2x-offset-y: 0px;
$ic-call-white-2x-width: 48px;
$ic-call-white-2x-height: 48px;
$ic-call-white-2x-total-width: 101px;
$ic-call-white-2x-total-height: 77px;
$ic-call-white-2x-image: 'sprite_1.png';
$ic-call-white-2x: (53px, 0px, -53px, 0px, 48px, 48px, 101px, 77px, 'sprite_1.png', 'ic_call_white_2x', );
$spritesheet-width: 101px;
$spritesheet-height: 77px;
$spritesheet-image: 'sprite_1.png';
$spritesheet-sprites: ($ic-account-box-white-1x, $ic-account-box-white-2x, $ic-call-white-1x, $ic-call-white-2x, );
$spritesheet: (101px, 77px, 'sprite_1.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
