pre {
    font-size: rem-calc(16);
    font-family: monospace;
    line-height: 1;
    background: #0a0a0a;
    max-height: 50vh;
    border-bottom: 5px solid green;
    overflow-x: visible;
    color: #cacaca;
}
